.panel-heading-dark {
    background-color: #050338;
    color: #ffffff;
    font-weight: bold;
}

.panel {
    border: 1px solid #050338;
}

.heading {
    background-color: #050338;
    padding: 50px 0;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
}

.fa {
    padding-right: 5px;
}

.article__number {
    color: #ffffff;
    background-color: #050338;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.article__headline {
    font-weight: bold;
    font-size: 16px;
}
